h1 {
    position: relative;
    top: -180px;


    @media (max-width:1200px) {
    top: -80px;
    }

    @media (max-width:720px) {
        top: -50px;
    }
}

h2 {
    position: relative;
    top: -90px;
    left: 15px;

    @media (max-width:1200px) {
        top: -70px;
        }
    
    @media (max-width:720px) {
        top: -50px;
    }
}

p {
    position: relative;
    color: var(--color-t1);
    bottom: 70px;

    @media (max-width:1200px) {
        bottom: 30px;
        }
    
    @media (max-width:720px) {
        bottom: 50px;
    }
}

section p {
    position: relative;
    bottom: 190px;
    color: var(--color-t4);

    @media (max-width:1200px) {
        bottom: 100px;
        }
    
    @media (max-width:720px) {
        bottom: -50px;
    }
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 15%;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    padding: 1rem;
    height: 100vh;
    box-sizing: border-box;
}

#textfield-message {
    grid-column: 1 / span 2;
    grid-row: 2;
    height: 200px;
    width: 100%;
    resize: vertical;
    padding: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}

#fn {
    grid-row-start: 3;
}

#introduction-text {
    margin-top: -250px;
}

#introduction-logo {
    margin-left: 100px;
    margin-top: -150px;
}

#tiktok-video {
    border-radius: 5%;
}