h1 {
    position: relative;
    top: -180px;


    @media (max-width:1200px) {
    top: -80px;
    }

    @media (max-width:768px) {
        top: -50px;
    }
}

h2 {
    position: relative;
    top: -90px;
    left: 15px;

    @media (max-width:1200px) {
        top: -70px;
        }
    
    @media (max-width:768px) {
        top: -50px;
    }
}

p {
    position: relative;
    color: var(--color-t1);
    bottom: 70px;

    @media (max-width:1200px) {
        bottom: 30px;
        }
    
    @media (max-width:768px) {
        bottom: 50px;
    }
}

section p {
    position: relative;
    bottom: 190px;
    color: var(--color-t4);

    @media (max-width:1200px) {
        bottom: 100px;
        }
    
    @media (max-width:768px) {
        height: 150px;
        margin-bottom: -50px;
    }
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 10%;
    grid-template-rows: auto 1fr;
    gap: 2em;
    width: 90%;
    margin: 2em;
    padding: 2em;
    margin-bottom: 20em;
    box-sizing: border-box;
}

#textfield-message {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    height: 200px;
    width: 100%;
    text-align: left;
    vertical-align: top;
    gap: 1em;
    box-sizing: border-box;
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction-text {
    margin-top: -150px;

    @media (max-width:1200px) {
        width: 50%;
        margin-top: 0;
    }

    @media (max-width:768px) {
        width: 80%;
    }
}

#introduction-logo {
    position: absolute;
    left: 59%;
    bottom: 25%;
    rotate: 10deg;

    @media (max-width:1400px) {
        left: 62%;
        bottom: 27%;
    }

    @media (max-width:1200px) {
        scale: 0.9;
        bottom: 25%;
        left: 50%;
    }

    @media (max-width:1000px) {
        scale: 0.7;
        left: 40%;
    }

    @media (max-width:768px) {
        bottom: 40%;
        left: 20%;
    }
}

#tiktok-video {
    border-radius: 5%;
}


#project {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: var(--color-t1);
    border: var(--color-t3) solid 10px;
    display: flex;
    justify-content: center;
    align-items: center;


    @media (max-width:1200px) {
        height: 200px;
        width: 200px;
    }

    @media (max-width:768px) {
        height: 100px;
        width: 100px;
    }

    img {

        @media (max-width:1200px) {
            height: 75px;
            width: 75px;
        }
    
        @media (max-width:768px) {
            height: 50px;
            width: 50px;
        }

    }

}

#projects {
    display: flex;
    gap: 2em;
    width: 200%;
    overflow: hidden;
    position: relative;
    right: 400px;
    bottom: 100px;

}

#photos {
    display: flex;
    width: 200%;
    position: relative;
    right: 250px;
    gap: 2em;
}

#art-gallery-tiktok {
    display: flex;
    width: 200%;
    position: relative;
    right: 550px;
    gap: 2em;
    overflow: scroll;
}

#art-gallery-avi-projects {
    display: flex;
    width: 200%;
    position: relative;
    overflow: scroll;
    right: 280px;
    gap: 2em;

}

#art-gallery-winexp {
    width: 200%;
    position: relative;
    right: 280px;
    gap: 2em;

}

#about-me {
    @media (max-width:1200px) {
        height: 500px;
    }

    @media (max-width:768px) {
        height: 500px;
        margin-top: 250px;
    }
}