:root {

    /* color-tone-1 */
    --color-t1: #C7CCEF;
    --color-t2: #9297C4;
    --color-t3: #0A1252;
    --color-t4: #0e0e0e;

    /* border-radius */
    --radius-desktop: 86px;
    --radius-tablet: 40px;
    --radius-mobile: 20px;

    /* border text */ 
    --border-desktop: 20px var(--color-t1);
    --border-tablet: 14px var(--color-t1);
    --border-mobile: 10px var(--color-t1);

    /* font-sizes */
    --h1-desktop: 300px;
    --h2-desktop: 128px;
    --h3-desktop: 88px;
    --p-desktop: 24px;

    --h1-tablet: 96px;
    --h2-tablet: 84px;
    --h3-tablet: 64px;
    --p-tablet: 20px;

    --h1-mobile: 84px;
    --h2-mobile: 72px;
    --h3-mobile: 48px;
    --p-mobile: 16px;
}

body {
    background-color: var(--color-t3);
}

main {
    text-decoration: none;
    margin: 20%;

    @media (max-width:1200px) {
        margin: 10%;
    }

    @media (max-width:768px) {
        margin: 0;
    }
}

section {
    background-color: var(--color-t1);
    color: var(--color-t2);
    border-radius: var(--radius-desktop);

    @media (max-width:1200px) {
        border-radius: var(--radius-tablet);
    }

    @media (max-width:768px) {
        border-radius: 0;
    }

    p {
        margin: 5%;
    }
}

a {
    background-color: var(--color-t1);
    height: 500px;
    width: 500px;
    border-radius: var(--radius-desktop);


    @media (max-width:1200px) {
        border-radius: var(--radius-tablet);
    }

    @media (max-width:768px) {
        border-radius: var(--radius-mobile);
    }
}

/* fonts */

h1 {
    font-family: 'Garet Heavy';
    font-size: var(--h1-desktop);
    -webkit-text-stroke: var(--border-desktop);
    color: var(--color-3);
    pointer-events: none;
    paint-order: stroke fill;

    @media (max-width:1200px) {
        font-size: var(--h1-tablet);
        -webkit-text-stroke: var(--border-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--h1-mobile);
        -webkit-text-stroke: var(--border-mobile);
    }
}

h2 {
    font-family: 'Garet Heavy';
    font-size: var(--h2-desktop);
    color: var(--color-3);
    -webkit-text-stroke: var(--border-desktop);
    pointer-events: none;
    paint-order: stroke fill;


    @media (max-width:1200px) {
        -webkit-text-stroke: var(--border-tablet);
        font-size: var(--h2-tablet);
    }

    @media (max-width:768px) {
        -webkit-text-stroke: var(--border-mobile);
        font-size:  var(--h2-mobile);
    }
}

h3 {
    font-family: 'Garet Heavy';
    font-size: var(--h3-desktop);
    color: var(--color-t2);
    -webkit-text-stroke: var(--border-desktop);
    pointer-events: none;
    paint-order: stroke fill;


    @media (max-width:1200px) {
        -webkit-text-stroke: var(--border-tablet);
        font-size: var(--h3-tablet);
    }

    @media (max-width:768px) {
        -webkit-text-stroke: var(--border-mobile);
        font-size:  var(--h3-mobile);
    }
}

p {
    font-family:  "Jersey 20";
    font-size: var(--p-desktop);

    @media (max-width:1200px) {
        font-size: var(--p-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--p-mobile);
    }
}

label {
    font-family:  "Jersey 20";
    font-size: var(--p-desktop);

    @media (max-width:1200px) {
        font-size: var(--p-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--p-mobile);
    }

}



.jersey-20-regular {
    font-family: "Jersey 20", serif;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
      font-family: "Garet Heavy";
      src: url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.eot");
      src: url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.svg#Garet Heavy")format("svg");
  }

  @font-face {
    font-family: "Garet Book";
    src: url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.eot");
    src: url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.svg#Garet Book")format("svg");
}

video {
    border-radius: var(--radius-desktop);
}

footer {
    width: 100%;
    background-color: var(--color-t1);
}