
#mini-sections {
    margin-top: 3em;
    display: flex;
    gap: 2em;
    flex-direction: column;
}

#direction-change {
    grid-template-columns: 70% 30%;
    .mini-section-image {
        grid-column-start: 2;
    }

    .mini-section-paragraph {
        grid-column-start: 1;
        grid-row-start: 1;
    }

}

