#contact-section {
  background-color: var(--neutral-color-dark);
  display: flex;
  justify-content: center;
  padding: 2em;
  flex-direction: row;
  height: 38em;
@media (max-width:720px) {
    height: 50em;
}
}

#contact {
    display: grid;
    width: 80vw;
    grid-template-columns: 30% 70%;
    padding: 4em;

    @media (max-width:1080px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    textarea::placeholder {
        color: var(--primary-color);
        font-size: 16px;
        font-family: "Jersey-20";
    }
}

form input, form textarea {
    background-color: var(--accent-color-lighter);
    color: var(--neutral-color-dark);
    height: 3em;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 16px;
    font-family: "Jersey-20";

    &::placeholder {
        color: var(--primary-color);
        font-size: 16px;
        font-family: "Jersey-20";
    }

    &:focus {
        border-style: none;
        border: var(--border-white);
    }

}

#names-form {
    display: flex;
    gap: 1em;
}

label {
    display: none;
}

#contact-bottle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-form-button {
    height: 3em;
    width: 16em;
    display: flex;
    margin-top: 1em;
}

#contact-form-button-area {
    display: flex;
    justify-content: center;
}

#message {
    width: 100%;
    height: 50%;
    display: flex;
    background-color: var(--accent-color-lighter);
}




