#contact-section {
  background-color: var(--neutral-color-dark);
  display: flex;
  justify-content: center;
  padding: 2em;
  flex-direction: row;
  height: 38em;
@media (max-width:720px) {
    height: 50em;
}
}

#contact {
    display: grid;
    width: 80vw;
    grid-template-columns: 30% 70%;
    padding: 4em;

    @media (max-width:1080px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

form input {
    background-color: var(--accent-color-lighter);
    height: 3em;
    display: flex;
    flex-direction: row;
    width: 100%;

}

label {
    font-size: 2em;
    font-family: "Jersey-20";
    color: var(--neutral-color-light);
}

#contact-form-button {
    height: 3em;
    width: 16em;
    display: flex;
    margin-top: 1em;
    font-family: "Jersey-20";
}

#contact-form-button-area {
    display: flex;
    justify-content: center;
}

#message {
    width: 100%;
    height: 50%;
    display: flex;
    background-color: var(--accent-color-lighter);
}




