:root {
  color-scheme: light dark;

  /* darker-colors */
  --l-dark: 0%;
  --l-dark-8: 8%;
  --l-dark-13: 13%;
  --l-dark-18: 18%;
  --l-dark-23: 23%;

  /* lighter-colors */
  --l-light-73: 73%;
  --l-light-78: 78%;
  --l-light-83: 83%;
  --l-light-88: 88%;
  --l-light-93: 93%;
  --l-light: 100%;

  /* saturation */
  --saturation-none: 0%;
  --saturation-general: 78%;

  --primary-color-darker: hsl(233,var(--saturation-general), var(--l-dark-8));
  --primary-color-dark: hsl(233,var(--saturation-general), var(--l-dark-13));
  --primary-color: light-dark(hsl(233,var(--saturation-general), var(--l-dark-18)), hsl(233,var(--saturation-general),var(--l-light-78)));
  --primary-color-light: hsl(233,var(--saturation-general), 23%);
  --primary-color-lighter: hsl(233,var(--saturation-general), 28%);

  --accent-color-darker: hsl(233,var(--saturation-general), 63%);
  --accent-color-dark: hsl(233,var(--saturation-general), 68%);
  --accent-color: hsl(233,var(--saturation-general), var(--l-light-73));
  --accent-color-light: hsl(233,var(--saturation-general), var(--l-light-78));
  --accent-color-lighter: hsl(233,var(--saturation-general), var(--l-light-83));

  --accent-color-2-darker: hsl(35, 31%, 38%);
  --accent-color-2-dark: hsl(35, 31%, 43%);
  --accent-color-2: hsl(35, 31%, 48%);
  --accent-color-2-light: hsl(35, 31%, 53%);
  --accent-color-2-lighter: hsl(35, 31%, 58%);

  /* neutral colors */
    --neutral-color: hsl(0,var(--saturation-none),78%); 
    --neutral-color-light: hsl(0,var(--saturation-none),83%); 
    --neutral-color-lighter: hsl(0,var(--saturation-none),88%);
    
    --neutral-color-dark: hsl(0,var(--saturation-none),13%);

  /* transition */
  --transition: 0.3s;

  --border-white: white 1px solid;
  --border-black: rgb(0, 0, 0) 1px solid;
}

body {
  margin: 0;
  background-color: var(--accent-color);
}

h1 {
  font-family: "Garet Heavy";
  font-size: clamp(2.75rem, 0.75rem + 6vw, 5.25rem);
}

h2 {
  font-family: "Jersey-20";
  font-size: clamp(2.25rem, 1.375rem + 3.5vw, 4rem);
}

h3 {
  font-family: "Jersey-20";
  font-size: clamp(2.25rem, 1.375rem + 3.5vw, 4rem);
}

p {
    font-family: "Jersey-20";
  font-size: clamp(1rem, 0.75rem + 1vw, 1.5rem);
}

a {
  font-family: "Jersey-20";
  text-decoration: none;
}

main {
  margin-left: 10%;
  margin-right: 10%;

  @media (max-width:720px) {
    margin-left: 0;
    margin-right: 0;
  }
}

#banner {
  height: 80vh;
  width: 100vw;
  display: inline-block;

    @media (max-width:720px) {
      padding: 1em;
    }
}

#banner-portfolio {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
  height: 88vh;
  background: var(--accent-color-2-light);
  position: relative;
  overflow: hidden;
  margin: 0;

  @media (max-width:720px) {
      margin-left: -4em;
      width: 115vw;
  }
}

#paragaph-about {
  font-size: 32px;
}

.button {
  color: var(--neutral-color-lighter);
  background-color: var(--primary-color-lighter);
  height: 2em;
  width: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-white);

  &:focus {
    border: none;
    border-inline: var(--border-white);
  }

  &:hover {
    background-color: var(--primary-color-dark);
    border: solid var(--neutral-color-lighter) 2px;
    transition-duration: 0.2s;
  }

  &:disabled {
    background-color: var(--neutral-color-dark);
  }
  
  a {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--neutral-color-lighter)
  }
}

/* header */
.main-header {
  display: flex;
  position: sticky;
  padding: 1em;
  background: var(--primary-color);
  border: var(--border-white);
  height: 4em;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 4;

  @media (max-width:720px) {
    justify-content: center;
      .navigation {
        display: none;
      }
  }
}

.navigation {
  display: flex;
  gap: 1em;
  margin-right: 2em;
}

.logo-header {
  overflow: visible;
  height: fit-content;

  &:hover {
    scale: 1.3;
    transition-duration: 0.2s;
  }
}

#logo-header-path:hover{
  fill: var(--accent-color);
  transition-duration: 0.2s;

  ~ #logo-header-path {
    stroke: 3px white solid;
  }
}

#project-overview-section {
  display: flex;
  gap: 1em;
}

#box-one:hover ~ img{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

#box-two:hover ~ #text-field-two {
  display: block;
}

#box-three:hover ~ #text-field-three {
  display: block;
}

#box-four:hover ~ #text-field-four {
  display: block;
}

#project-boxes {
  display: flex;
  justify-content: center;
  max-width: 100%;
  gap: 1em;

  img {
     height: 200px;
     width: 200px;
     object-fit: cover;
     border: var(--border-black);
  }
}

.main-section {
  width: 90vw;
  height: fit-content;
  background-color: var(--neutral-color-lighter);
  position: relative;
  margin: 1em;
  top: 10%;
}

.main-section-block {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    border: var(--border-white);
    background-color: var(--primary-color-dark);

    &:nth-of-type(3) {
        background-color: #810000;
    }
}

.main-section-content {
    padding: 1em;
}

.mini-section-content {
    padding: 1em;
}

.tab-icons {
    display: flex;
    gap: 0.4em;
}

.tab-title-section {
    background-color: var(--primary-color);
    color: var(--neutral-color-lighter);
    display: flex;

    justify-content: space-between;
    height: 2em;
    padding: 0.3em;
}

.tab-title {
    height: 2em;
    align-content: center;
    display: flex;
     p {
        margin-top: 7px;
        margin-left: 2px;
        font-size: 20px;
     }
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#wrapper-header-loading {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* mini section */

#mini-section {
    background-color: var(--neutral-color-lighter);
    padding: 1em;
    font-size: 32px;

}

.mini-section-block {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    border: var(--border-white);
    background-color: #810000;    
    color: var(--neutral-color-lighter);
}

.mini-section-content {
    display: grid;
    padding: 1em;
    width: 500px;
    grid-template-columns: 30% 70%;
    background-color: var(--neutral-color-lighter);
}

.mini-section-image {
    width: 150px;
    height: 100px;
}

.mini-section-paragraph {
    grid-column-start: 2;
    font-size: 20px;
    margin: 1em;   
}

/* footer */
footer {
  color: var(--neutral-color-lighter);
  background-color: var(--primary-color);
  height: 50vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: var(--border-white);
}

#footerPartOne {
  display: flex;
  justify-content: center;
}

#footerPartTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  gap: 2em;
  flex-direction: column;

  p {
    margin-top: -0.3em;
    text-decoration: none;
    color: var(--neutral-color-lighter);

  }

  img {
    margin-left: 0.5em;
  }

  a p {
    display: none;
  }

  img:hover {
    filter:drop-shadow(16px 16px 20px var(--color-neutral-light));
    transition-duration: 0.3s; 
    scale: 1.4;
  }

  .button {
    width: 15em;
    height: 3em;
  }
}

#footerPartThree {
  display: flex;
  justify-content: center;
}

#footer-backToTop {
  position: relative;
  left: 3em;
  bottom: 7em;
  height: 4em;
  width: 4em;
  background-color: var(--accent-color-light);
  border: var(--border-white)
}

#footer-logo {
  display: flex;
  align-items: center;
}

#footer-name {
  font-size: 32px;
  line-height: 0.1;
  margin-top: 1.5em;
}

#navigation-links {
  display: flex;
  flex-direction: row;
}

#about-section {
  display: flex;
  gap: 2em;

  p {
    padding: 2em;
    font-size: 24px;
  }

  @media (max-width:720px) {
    flex-direction: column;
  }
}

#section-picture {
    height: 50%;
    width: 50%;
    display: flex;

  @media (max-width:720px) {
    height: 100%;
    width: 100%;
  }
}

#error-page {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1em;
  margin-top: 3em;
  margin-bottom: 3em;


}

#miel-404-section {
  display: gird;
  gap: -1em;
  margin-left: 1em;

  h2 {
    margin-bottom: -4em;
  }

  p {
    margin-top: -2em;
  }

}

#error-page-button {
  height: 1em;
  width: 8em;
  padding: 1em;
  background-color: var(--accent-color-2);
}


#minibanner {
  height: 10vh;
  width: 100vw;
  display: inline-block;
  display: flex;
  align-content: baseline;
  justify-content: flex-start;


  h1 {
    font-size: 64px;
    font-family: 'Jersey-20';
    margin-top: 0;
    margin-left: 5%;
  }
}

#project-example {
  display: flex;
  padding-top: 1em;

  @media (max-width:720px) {
    flex-direction: column;
    width: 100%;
    justify-content: center;

    img {
      display: flex;
      justify-content: center;
      width: 75%;
    }
  }
}

#projects-titlefield {
  width: 95%;
  height: 4em;
  padding: 1em;
  border: var(--border-black);

  h2 {
    margin: 0;
    top: 0;
  }
}

#projects-textfield {
  height: 25em;
  width: 95%;
  padding-left: 1em;
  padding-right: 1em;
  border: var(--border-black);

      @media (max-width:720px) {
        height: 10em;
      }
}

#project-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;

    @media (max-width:720px) {
    width: 90%;
    
  }
}

#project-buttons {
  display: flex;
  gap: 1em;
  width: 100%;

  button {
    width: 20%;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;

        @media (max-width:720px) {
          img {
            display: none;
          }
        }
  }
}


@font-face {
 font-family: "Jersey-20";
 src: local("Jersey20"),
  url("/src/assets/fonts/Jersey20-Regular.ttf") format("truetype");
 font-weight: bold;
}

@font-face {
 font-family: "Garet Book";
 src: local("Garet"),
  url("/src/assets/fonts/Garet-Book.ttf") format("truetype");
 font-weight: bold;
}

@font-face {
 font-family: "Garet Heavy";
 src: local("Garet"),
  url("/src/assets/fonts/Garet-Heavy.ttf") format("truetype");
 font-weight: bold;
}