#ground {
    display: inline-block;
    height: 20vh;
    width: 100vw;
    background-color: var(--color-ground);
    border: var(--border-black);
    bottom: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
}

#benchA {
    width: 100px;
    position: absolute;
    bottom: 20vh;
    left: 20em;
}

.cls-1 {
        fill: #9b4635;
      }

      .cls-1, .cls-2, .cls-3 {
        stroke: #000;
        stroke-miterlimit: 10;
      }

      .cls-2 {
        fill: #b25c47;
      }

      .cls-3 {
        fill: #4f2921;
      }

      .houseA-1 {
        fill: #4c413d;
      }

      .houseA-1, .houseA-2 {
        stroke: #000;
      }

      .houseA-1, .houseA-2, .houseA-3 {
        stroke-miterlimit: 10;
      }

      .houseA-2 {
        fill: #353535;
      }

      .houseA-3 {
        fill: #7ba1af;
        stroke: #e6e6e6;
        stroke-width: 3px;
      }

      #houseA {
        position: absolute;
        width: 200px;
        top: 60vh;
        left: 2em;
      }

      #miel {
        position: absolute;
        z-index: 3;
        left: 60%;
        top: 50%;
        width: 500px;
        clip-path: inset(0 0 55% 0);
      }

      .miel-1 { stroke-width: .25px; }

.miel-1, .miel-2, .miel-3, .miel-4, .miel-5, .miel-6, .miel-7, .miel-8, .miel-9,
.miel-10, .miel-11, .miel-12, .miel-13, .miel-14, .miel-15, .miel-16, .miel-17 {
        stroke-miterlimit: 10;
}

.miel-1, .miel-2, .miel-3, .miel-4, .miel-5, .miel-6, .miel-7, .miel-8,
.miel-10, .miel-11, .miel-12, .miel-13, .miel-14, .miel-15, .miel-16 {
        stroke: #000;
      }

      .miel-2 { fill: #828237; }
      .miel-18 { fill: #abbaaf; }
      .miel-19 { fill: #565e5d; }
      .miel-3 { fill: #091928; }
      .miel-20 { fill: #6b6b34; }
      .miel-4 { stroke-width: 1.035px; }
      .miel-4, .miel-5, .miel-6, .miel-9 { fill: #cea48d; }
      .miel-5 { stroke-width: .975px; }
      .miel-6 { stroke-width: 1.021px; }
      .miel-7 { fill: #c9c9c9; }
      .miel-8 { fill: #121a24; }
      .miel-9 { stroke: #a67c52; }
      .miel-10 { fill: #1a1a1a; }
      .miel-11 { fill: #4f3c1d; stroke-width: .5px; }
      .miel-12 { fill: #070b0f; }
      .miel-13, .miel-15 { stroke-width: .75px; }
      .miel-13, .miel-17 { fill: none; }
      .miel-14 { fill: #f7f7f7; stroke-width: .479px; }
      .miel-21 { fill: #4ca0ff; }
      .miel-15 { fill: #e6e6e6; }
      .miel-16 { fill: #112243; }
      .miel-17 { stroke: #6b6b34; stroke-width: 4px; }

      #sun {
    animation: turning 35s linear infinite;
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 0;
    width: 75px;
    height: 75px;
}

#banner-portfolio {
  z-index: 3;
}

#tree {
    width: 50px;
    z-index: 2;
}

#cloud {
    stroke: #000;
    stroke-miterlimit: 10;
    z-index: 1;
    position: absolute;

    &:hover {
        scale: 1.5;
        animation-duration: 0.2s;
    }
}

  .bottlePost-1 {
              fill: #775a25;
            }

            .bottlePost-1, .bottlePost-2, .bottlePost-3, .bottlePost-4 {
              stroke: #000;
              stroke-miterlimit: 10;
            }

            .bottlePost-1, .bottlePost-3, .bottlePost-4 {
              stroke-width: 4px;
            }

            .bottlePost-2 {
              fill: #ddddca;
              stroke-width: 2px;
            }

            .bottlePost-3 {
              opacity: .64;
            }

            .bottlePost-3, .bottlePost-4 {
              fill: #3d85bf;
              isolation: isolate;
            }

            .bottlePost-4 {
              opacity: .54;
            }

            #bottlePost {
              width: 150px;
            }