.main-header {
  display: flex;
  gap: 20px;
  padding: 16px;
  background: var(--primary-color);
  height: 60px;
  justify-content: flex-end;
}

.main-header a {
  color: white;
  background-color: var(--primary-color-darker);
  text-decoration: none;
  height: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  border: var(--border-whtie);
  font-family: 'Jersey-20';
}

.navigation {
  display: flex;
  gap: 1em;
}
