.main-header {
  display: flex;
  gap: 20px;
  padding: 16px;
  background: var(--primary-color);
  height: 60px;
  justify-content: space-between;
}

.main-header a {


  &:hover {
    background-color: var(--primary-color-light);
    transition-duration: var(--transition);
  }
}

.navigation {
  display: flex;
  gap: 1em;
}

.logo-header {
  overflow: visible;
  height: fit-content;
}