.main-header {
  display: flex;
  gap: 20px;
  padding: 16px;
  background: var(--primary-color);
  border: var(--border-white);
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
}

.navigation {
  display: flex;
  gap: 1em;
  margin-right: 2em;
}

.logo-header {
  overflow: visible;
  height: fit-content;
}