.main-header {
  display: flex;
  gap: 20px;
  padding: 16px;
  background: var(--primary-color);
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 1em;
}

.logo-header {
  overflow: visible;
  height: fit-content;
}