 svg {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: flex-start;
 }
 
 .cls-1 {
        stroke-width: 5.356px;
      }

      .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10 {
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
      }

      .cls-3 {
        stroke-width: .641px;
      }

      .cls-4 {
        stroke-width: .67px;
      }

      .cls-5 {
        stroke-width: .335px;
      }

      .cls-6 {
        stroke-width: 1.004px;
      }

      .cls-7 {
        stroke-width: 2px;
      }

      .cls-8 {
        
        stroke-width: 3px;
      }

      .cls-9 {
        
        stroke-width: 1.367px;
      }

      .cls-10 {

        stroke-width: 1.385px;
      }