.main-section {
  width: 90vw;
  height: fit-content;
  background-color: var(--neutral-color-lighter);
  position: relative;
  margin: 1em;
  top: 10%;
}

.main-section-block {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    border: var(--border-white);
    background-color: var(--primary-color-dark);

    &:nth-of-type(3) {
        background-color: #810000;
    }
}

.main-section-content {
    padding: 1em;
}

.mini-section-content {
    padding: 1em;
}

.tab-icons {
    display: flex;
    gap: 0.4em;
}

.tab-title-section {
    background-color: var(--primary-color);
    color: var(--neutral-color-lighter);
    display: flex;

    justify-content: space-between;
    height: 2em;
    padding: 0.3em;
}

.tab-title {
    height: 2em;
    align-content: center;
    display: flex;
     p {
        margin-top: 7px;
        margin-left: 2px;
        font-size: 20px;
     }
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* mini section */

#mini-section {
    background-color: var(--neutral-color-lighter);
    padding: 1em;
    font-size: 32px;

}

.mini-section-block {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    border: var(--border-white);
    background-color: #810000;    
    color: var(--neutral-color-lighter);
}

.mini-section-content {
    display: grid;
    padding: 1em;
    width: 500px;
    grid-template-columns: 30% 70%;
    background-color: var(--neutral-color-lighter);
}

.mini-section-image {
    width: 150px;
    height: 100px;
}

.mini-section-paragraph {
    grid-column-start: 2;
    font-size: 20px;
    margin: 1em;   
}

#direction-change {
    grid-template-columns: 70% 30%;
    .mini-section-image {
        grid-column-start: 2;
    }

    .mini-section-paragraph {
        
        grid-column-start: 1;
        grid-row-start: 1;
    }

}

