.main-section {
  width: 90vw;
  height: fit-content;
  background-color: var(--neutral-color-lighter);
  position: relative;
  margin: 1em;
  top: 10%;
}

.main-section-block {
    display: inline-block;
    height: 2em;
    width: 2em;
    border: var(--border-white);
    background-color: var(--primary-color-dark);

    &:nth-of-type(3) {
        background-color: #810000;
    }
}

.main-section-content {
    padding: 1em;
}

.tab-icons {
    display: flex;
    gap: 0.4em;
}

.tab-title-section {
    background-color: var(--primary-color);
    color: var(--neutral-color-lighter);
    display: flex;
    justify-content: space-between;
    height: 2em;
    padding: 0.3em;
}

.tab-title {
    height: 2em;
    display: flex;
     p {
        margin-top: 2px;
        margin-left: 2px;
        font-size: 20px;
     }
}

#wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

