:root {
    /* primary colors */
    --primary-color-dark-2: #040824;
    --primary-color-dark-1: #070D3B;
    --primary-color: #0A1252;
    --pimary-color-light-1: #101C7F;
    --primary-color-light-2: #1526AD;

    /* accent colors */
    --accent-color-1-dark-2: #5A4830;
    --accent-color-1-dark-1: #7B6342;
    --accent-color-1: #9C7D53;
    --accent-color-1-light-1: #B39670;
    --accent-color-1-light-2: #C5AE91;

    --accent-color-2-dark-4: #343B74;
    --accent-color-2-dark-3: #444D97;
    --accent-color-2-dark-2: #5A64B5;
    --accent-color-2-dark-1: #7D85C4;
    --accent-color-2: #A0A6D4;

    /* neutral colors */
    --neutral-color: #0D0D0D;
    --neutral-color-light-1: #404040;
    --neutral-color-light-2: #808080;
    --neutral-color-light-3: #BFBFBF;
    --neutral-color-light-4: #F2F2F2;

    /* font-sizes */
    --h1-desktop: 96px;
    --h1-tablet: 84px;
    --h1-mobile: 72px;

    --h2-desktop: 72px;
    --h2-tablet: 60px;
    --h2-mobile: 48px;

    --h3-desktop: 48px;
    --h3-tablet: 32px;
    --h3-mobile: 24px;

    --p-desktop: 20px;
    --p-tablet: 18px;
    --p-mobile: 16px;

    /* general */
    --margin-desktop: 5%;
    --margin-tablet: 4%;
    --margin-mobile: 2%;

    --padding-desktop: 1em;
    --padding-tablet: 0.5em;
    --padding-mobile: 0.25em;


    /* sections */
    --section-height: 25%;
    --section-height-scrolled: 50%;
    --section-width: 50%;
    --section-width-scrolled: 100%;
    --section-border-radius: 20px;

    /* margin */
    --margin-section-desktop: 5em;
    --margin-section-tablet: 3em;
    --margin-section-mobile: 1em;

    /* border */
    --border-desktop: 3px var(--neutral-color);
    --border-tablet: 2px var(--neutral-color);
    --border-mobile: 1px var(--neutral-color);

    /* gaps */
    --gap: 3em;

    /* border */
    --border: #0000 1px solid;
}

h1 {
    pointer-events: none;
    font-size: var(--h1-desktop);
    font-family: 'Garet Heavy', sans-serif;
    font-weight: 850;

    @media (max-width: 1080px) {
        font-size: var(--h1-tablet);
    }

    @media (max-width: 720px) {
        font-size: var(--h1-mobile);
    }
}

section h2 {
    pointer-events: none;
    color: var(--neutral-color-light-4);
    font-family: 'Jersey 20';
    font-size: 32px;

    @media (max-width: 1080px) {
        font-size: 32px;
    }

    @media (max-width: 720px) {
        font-size: 24px;
    }
}

h2{
    pointer-events: none;
    font-size: var(--h2-desktop);
    font-family: 'Garet Book', sans-serif;
    font-weight: 850;

        @media (max-width: 1080px) {
        font-size: var(--h2-tablet);
    }

    @media (max-width: 720px) {
        font-size: var(--h2-mobile);
    }
}

h3 {
    pointer-events: none;
    font-size: var(--h3-desktop);
    font-family: 'Garet Book', sans-serif;
    font-weight: 350;

        @media (max-width: 1080px) {
        font-size: var(--h3-tablet);
    }

    @media (max-width: 720px) {
        font-size: var(--h3-mobile);
    }
}

p {
    font-size: var(--p-desktop);
    font-family: "Jersey 20", sans-serif;
    font-weight: 350;

    @media (max-width: 1080px) {
        font-size: var(--p-tablet);
    }

    @media (max-width: 720px) {
        font-size: var(--p-mobile);
    }
}

a {
    font-size: var(--p-desktop);
    font-family: "Jersey 20", sans-serif;
    font-weight: 350;
    text-decoration: none;

    @media (max-width: 1080px) {
        font-size: var(--p-tablet);
    }

    @media (max-width: 720px) {
        font-size: var(--p-mobile);
    }

    &:hover {
        color: var(--accent-color-2-dark-4);
        transition: 0.2s;
        text-decoration: underline;
        transform: perspective(1.15,1.15);
    }
}

li {
    font-size: var(--p-desktop);
    font-family: "Jersey 20", sans-serif;
    font-weight: 350;
    line-height: 0.5em;

    @media (max-width: 1080px) {
        font-size: var(--p-tablet);
    }

    @media (max-width: 720px) {
        font-size: var(--p-mobile);
    }

}


main {
    margin: var(--margin-desktop);

    @media (max-width: 1080px) {
        margin: var(--margin-tablet);
    }

    @media (max-width: 720px) {
        margin: var(--margin-mobile);
    }
}

section {
    display: inline-block;
    background-color: var(--neutral-color-light-3);
    min-height: var(--section-height);
    min-width: var(--section-width);
    display: flex;
    justify-content: flex-start;
    margin: var(--margin-desktop);
}

.jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--neutral-color-light-1);
        color: var(--neutral-color-light-4);
        text-decoration: none;
        overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

import "@fontsource/jersey-20-charted"

@font-face {
    font-family: 'Garet Book';
    font-style: normal;
    font-weight: 300;
    src: local('Garet'), url('https://fonts.cdnfonts.com/s/57477/Garet-Book.woff') format('woff');
}
@font-face {
    font-family: 'Garet Heavy';
    font-style: normal;
    font-weight: 850;
    src: local('Garet'), url('https://fonts.cdnfonts.com/s/57477/Garet-Heavy.woff') format('woff');
}